<ion-header>
  <ion-toolbar class="neon-toolbar">
    <ion-title class="neon-title">
      Tic Tac Toe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="neon-content">
  <div class="neon-container">
    <ion-item class="neon-item">
      <ion-label position="floating" class="neon-label">Jugador 1</ion-label>
      <ion-input [(ngModel)]="players.player1" class="neon-input"></ion-input>
    </ion-item>
    <ion-item class="neon-item">
      <ion-label position="floating" class="neon-label">Jugador 2</ion-label>
      <ion-input [(ngModel)]="players.player2" class="neon-input"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="startGame()" [disabled]="!players.player1 || !players.player2" class="neon-button">
      Jugar
    </ion-button>
  </div>

  <div *ngIf="gameStarted" class="neon-game">
    <ion-grid>
      <ion-row *ngFor="let row of [0, 1, 2]">
        <ion-col *ngFor="let col of [0, 1, 2]" (click)="makeMove(row * 3 + col)">
          <ion-button expand="full" [disabled]="board[row * 3 + col] !== '' || gameOver" class="neon-cell">
            {{ board[row * 3 + col] }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button expand="full" (click)="resetGame()" class="neon-button">Reiniciar</ion-button>
  </div>

  <div *ngIf="winner" class="neon-winner">
    <ion-item class="neon-item">
      <ion-label class="neon-label">Ganador: {{ winner }}</ion-label>
    </ion-item>
  </div>
</ion-content>